textarea {
  height:10rem;
  background-color: rgba(0, 0, 0, 0.179);
}
body {
  height:110vh;
  background-color: rgb(40, 40, 40);
}
.changeTheme {
  background-color:rgb(6, 128, 209);
  color:white;

}
hi {
  background-color: rgba(119, 119, 119, 0.579);
}

/* 
gradient purple: linear-gradient(135deg, rgb(89, 0, 255),rgba(0, 0, 0, 0.537)) 
blue: rgb(0, 132, 255)
blue green: linear-gradient(135deg,rgb(11, 90, 11),rgb(15, 76, 181))
*/